@charset "utf-8"; 

/* 웹폰트 CDN */
/* noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

/* 나눔고딕 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

/* 나눔명조 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */



/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Raleway', sans-serif; */

/* Exo */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Exo', sans-serif; */

/* Bellota */
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&display=swap');
/* font-family: 'Bellota', cursive; */

/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */





/* 아이콘폰트 CDN         --> 폰트 관련 속성 적용가능*/
/* Material */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined'); 
/* font-family: 'Material Icons Outlined'; */
/* <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> */


/* font-awesome */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* font-family: fontawesome; */
/* <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> */


/* xeicon */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); 
/* font-family: xeicon;  */
/* <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"> */




* {margin: 0;padding: 0;}
html, body {width: 100%;height: 100%;}
html {overflow-y: scroll; scroll-behavior: smooth;overflow-x: hidden;}
body {font-family: 'Montserrat, Noto Sans KR', sans-serif;}
article,aside,details,summary,figcaption,figure,
footer,header,hgroup,main,nav,section {display: block;}
li {list-style-type: none;}  
a {text-decoration: none;color: inherit;} 
table {border-collapse: collapse;   }
input, select {vertical-align: middle;}



/* header  */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
  z-index: 200;
}

.top i {
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 58px;
  color: #333;
  z-index: 10000;
  font-size: 30px;
  font-weight: 100;
  border-radius: 50%;
  padding: 10px;
}
.top i:hover {
  background-color: #333;
  color: #fff;
}


nav {
 width: 100%;
 margin: auto;
 height: inherit;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding-left: 30px;
 position: relative;
}
.logo {
  position: absolute;
}
.logo a img {
  width: 45px;
  height: 45px;
}
.logo a img:hover {
  opacity: 0.75;
}
.gnb {
  left: 100px;
  margin-top: 80px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  height: inherit;
}
.gnb .main {
  text-align: center;
  margin-right: 14px;
  width: 100px;
}
.gnb .main>a {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
  line-height: 27px;
}
.gnb>.main:hover>a{
  color: #3fcbf9;
}


.submenu {
  margin-top: 10px;
  font-size: 14px;
  display: none;
  width: 150px;
  transform: translateX(-20px);
}
.submenu li {
  text-align: center;
  height: 37px;
  display: flex;    
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.submenu li a {
  color: #eee;
  font-size: 14px;
  font-weight: 500;
}
.submenu li a:hover  {
  color: #3fcbf9;
}

.fontIcon {
  display: inline-block;
  color: #fff;
  position: absolute;
  right: 100px;
}
.fontIcon i {
  margin-right: 25px;
}
.fontIcon i:nth-of-type(4) {
  font-weight: 900;
}
.fontIcon .fa:hover {
  color: rgb(0, 168, 224);
  cursor: pointer;
}










/* footer */
footer {margin-top: 170px;width: 100%;background-color: #fdfbf7;}
footer>.footer_textImg {width: 1280px;padding-top: 50px;margin: auto;text-align: center;overflow: hidden;}
footer>.footer_textImg>h3 {letter-spacing: -3px;font-size: 30px;color: #333;font-weight: 500;}
footer>.footer_textImg>h4 {margin-top: 40px;font-size: 21px;color: #00a9e0;letter-spacing: -1px;font-weight: 500;}
footer>.footer_textImg>.footerImg {margin: auto;}
footer>.footer_textImg>.footerImg .footerImg_img {margin: auto;margin-top: 40px;position: relative;}
footer>.footer_textImg>.footerImg .footerImg_img div {width: 1285px;height: 200px;}
footer>.footer_textImg>.footerImg .footerImg_img div img {position: relative;width: 250px;height: 200px;}

footer>.footerMenu {margin-top: 100px;color: #fff;background-color: #464646;padding: 35px 0;}
footer>.footerMenu .bottomFooter {margin-top: 40px;padding-bottom: 35px;padding-left: 70px;font-size: 13px;letter-spacing: 2px;}
footer>.footerMenu .bottomFooter>span {margin-left: 100px;}
footer>.footerMenu .footer_menu {
  padding-left: 110px;
  display: flex;
  justify-content: space-between;
  width: 1150px;
  text-align: left; 
  padding-bottom: 30px;
} 
footer>.footerMenu .footer_menu>h4 {text-align: left;padding-top: 40px;font-weight: 500;font-size: 20px;margin-bottom: 30px;}
footer>.footerMenu .footer_menu>ul {margin-top: 15px;margin-left: 3px;}
footer>.footerMenu .footer_menu>ul li {font-size: 12px;color: #ddd;margin-bottom: 10px;}
footer>.footerMenu .footer_menu>ul li:hover {opacity: 0.6;cursor: pointer;}
footer>.footerMenu .footer_menu>ul li:nth-child(1) {margin-bottom: 30px;font-size: 16px;font-weight: 500;color: #eee;} 

footer>.footer_textImg>.footerImg .footerImg_img .slick-prev {position: absolute;left: 0;z-index: 1000;height: 40px;width: 30px;}
footer>.footer_textImg>.footerImg .footerImg_img .slick-prev:before {content: '\e5e0';top: 0;left: 0;}
footer>.footer_textImg>.footerImg .footerImg_img .slick-next {position: absolute;right: 2px;z-index: 1000;height: 40px;width: 30px;}
footer>.footer_textImg>.footerImg .footerImg_img .slick-next:before {content: '\e5e1';top: 0;right: 0;}
footer>.footer_textImg>.footerImg .footerImg_img .slick-prev:before, 
footer>.footer_textImg>.footerImg .footerImg_img .slick-next:before {
  font-family: 'Material Icons Outlined';
  position: absolute;
  width: inherit;
  height: inherit;
  line-height: 40px;
  color: #fff;
  background-color: rgba(51, 51, 51,0.7);
}
footer>.footer_textImg>.footerImg .footerImg_img .slick-dots {display: none !important;}

