@import url(common.css);



/* #wrap, .top {display: block;}
.mediaq {display: none;}
 */



#wrap {width: 100%;margin: 0 auto;}


/* ////// main */
.mainImg {position: relative;width: 100%;height: 1400px;}
.mainImg>div.changeimg {
  position: absolute;
  width: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mainImg>div.changeimg:before {
  content: '';
  width: 100%;
  height: 100%; 
  position: absolute;
  background: rgba(0,0,0,0.25);
  z-index: 1;
}
.mainImg>div.changeimg>ul {width: inherit;position: absolute;width: 100%;height: 100%;}
.mainImg>div.changeimg>ul>li {display: none;position: absolute;width: 100%;height: 100%;}
.mainImg>div.changeimg>ul>li>img {width: 100%;height: 100%;}
.mainImg>div.changeimg>ul>li:first-child {display: block;}
.mainImg>div.index {
  position: absolute;
  top: 50%;
  right: 105px;
  transform: translate(-50%,-50%);
  z-index: 10;
  display: flex;
}
.mainImg>div>ul.clear>li {
  height: 30px;
  width: 50px; 
  color: #ddd;
  font-weight: 300;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
.mainImg>div>ul.clear .active {color: #fff;font-size: 19px;}




/* coffee */
.shop {
  width: 100%;
  padding-top: 40px;
  margin-top: 70px;
  text-align: center;
  height: 1300px;
  position: relative;
}
.shop>h2 {
  font-weight: normal;
  color: #444;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
  width: 450px;
  margin: auto;
}
.shop>div.center {width: 1550px;top: 50%;left: 50%;transform: translate(-50%,-50%);position: absolute;}
.shop>div.center>div.menu_con_total {position: relative;margin: auto;width: 1500px;transform: translateX(19px);}
.shop>div.center>div.menu_con_total .slick-dots {
  position: absolute;
  width: 45%;
  transform: translate(430px,40px);
  text-align: center;
  position: relative;
  height: 12px;
}
.slick-dots li button:before {font-size: 20px !important;margin-right: 30px !important;}
#slick-slide-control00:before {content: '01';}
#slick-slide-control01:before {content: '02';}
#slick-slide-control02:before {content: '03';}
#slick-slide-control03:before {content: '04';}
#slick-slide-control04:before {content: '05';}
#slick-slide-control05:before {content: '06';}
#slick-slide-control06:before {content: '07';}

.menu>div {width: 460px;height: 530px;position: relative;cursor: pointer;}
.menu>div:nth-child(1) {margin-bottom: 20px;} 
.menu>div:hover {width: 460px;height: 530px;}
.menu>div:hover:before {
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}

.menu01 {background: url(../image/menu_01.png) no-repeat center center;}
.menu01:before {
  content: 'THREE AFRICAS';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu01:hover {background: url(../image/menu_hover01.png) no-repeat center center;}
.menu01:hover:after {
  content: 'SHOP NOW  ₩ 25000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}
.menu02 {background: url(../image/menu_01.png) no-repeat center center;}
.menu02:before {
  content: 'BELLA DONOVAN';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu02:hover {background: url(../image/menu_hover02.png) no-repeat center center;}
.menu02:hover:after {
  content: 'SHOP NOW  ₩ 25000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}
.menu03 {background: url(../image/menu_01.png) no-repeat center center;}
.menu03:hover {background: url(../image/menu_hover03.png) no-repeat center center;}
.menu03:before {
  content: 'GIANT STEPS';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu03:hover:after {
  content: 'SHOP NOW  ₩ 25000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}

.menu04 {background: url(../image/menu_01.png) no-repeat center center;}
.menu04:hover {background: url(../image/menu_hover04.png) no-repeat center center;}
.menu04:before {
  content: 'COSTA RICA RIVENSE BLACK HONEY';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu04:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}

.menu05 {background: url(../image/menu_01.png) no-repeat center center;}
.menu05:hover {background: url(../image/menu_hover05.png) no-repeat center center;}
.menu05:before {
  content: 'KENYA KIRINYAGA KIAMUGUMO';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu05:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}

.menu06 {background: url(../image/menu_01.png) no-repeat center center;}
.menu06:hover {background: url(../image/menu_hover06.png) no-repeat center center;}
.menu06:before {
  content: 'HAYES VALLEY ESPRESSO';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu06:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}
.menu07 {background: url(../image/menu_01.png) no-repeat center center;}
.menu07:hover {background: url(../image/menu_hover07.png) no-repeat center center;}
.menu07:before {
  content: 'COLOMBIA MAURICIO SHATTAH';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu07:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}

.menu08 {background: url(../image/menu_01.png) no-repeat center center;}
.menu08:hover {background: url(../image/menu_hover08.png) no-repeat center center;}
.menu08:before {
  content: 'NIGHT LIGHT DECAF';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu08:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}

.menu09 {background: url(../image/menu_01.png) no-repeat center center;}
.menu09:hover {background: url(../image/menu_hover09.png) no-repeat center center;}
.menu09:before {
  content: 'SUMATRA KERINCI SOLOK';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu09:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}

.menu10 {background: url(../image/menu_01.png) no-repeat center center;}
.menu10:hover {background: url(../image/mer_hover01.png) no-repeat center center;}
.menu10:before {
  content: 'BETA BLEND';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu10:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}


.menu11 {background: url(../image/menu_01.png) no-repeat center center;}
.menu11:hover {background: url(../image/mer_hover02.png) no-repeat center center;}
.menu11:before {
  content: 'SINGLE ORIGIN';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu11:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}

.menu12 {background: url(../image/menu_01.png) no-repeat center center;}
.menu12:hover {background: url(../image/mer_hover03.png) no-repeat center center;}
.menu12:before {
  content: 'BURUNDRI KAYANZA HEZA';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu12:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}

.menu13 {background: url(../image/menu_01.png) no-repeat center center;}
.menu13:hover {background: url(../image/mer_hover04.png) no-repeat center center;}
.menu13:before {
  content: 'ETHIOPIA NATURAL DECAF';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu13:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}
.menu14 {background: url(../image/menu_01.png) no-repeat center center;}
.menu14:hover {background: url(../image/mer_hover05.png) no-repeat center center;}
.menu14:before {
  content: 'VIETNAM DA LAT HONEY';
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.menu14:hover:after {
  content: 'SHOP NOW  ₩ 35000';
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #555;
  color: #fff;
}







/* brew guide */
.brew {width: 100%;margin-top: 40px;}
.brew>div.brew_mainImg {position: relative;margin: auto;width: 1300px;height: 700px;}
.brew>div.brew_mainImg:before {
  position: absolute;
  content: '';
  background: url(../image/brewguide.jpeg) center center;
  background-size: cover;
  width: 1300px;
  height: 700px;
  left: 0;
}
.brew>div.brew_mainImg:after {
  content:'';
  position: absolute;
  background: rgba(0,0,0,0.2);
  background-size: cover;
  width: 1300px;
  height: 700px;
  left: 0;
}
.brew>div.brew_mainImg>span.mainText {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 85px;
  text-align: center;
  font-weight: 200;
} 
.brew>div.brew_mainImg>span.mainText>span.bold {font-weight: 600;}
.brew>div.brew_total {margin-top: 40px;height: 900px;width: 100%;}
.brew>div.brew_total>div.brew_center {height: 900px;width: 1300px;margin: 40px auto;position: relative;}

.brew>div.brew_total>div.brew_center>input[id=tab1]:checked ~.slide01,
.brew>div.brew_total>div.brew_center>input[id=tab2]:checked ~.slide02,
.brew>div.brew_total>div.brew_center>input[id=tab3]:checked ~.slide03,
.brew>div.brew_total>div.brew_center>input[id=tab4]:checked ~.slide04,
.brew>div.brew_total>div.brew_center>input[id=tab5]:checked ~.slide05,
.brew>div.brew_total>div.brew_center>input[id=tab6]:checked ~.slide06 {opacity: 1;transition: 0.5s;}

.brew>div.brew_total>div.brew_center>input[id=tab1]:checked ~.brew li label[for=tab1],
.brew>div.brew_total>div.brew_center>input[id=tab2]:checked ~.brew li label[for=tab2],
.brew>div.brew_total>div.brew_center>input[id=tab3]:checked ~.brew li label[for=tab3],
.brew>div.brew_total>div.brew_center>input[id=tab4]:checked ~.brew li label[for=tab4],
.brew>div.brew_total>div.brew_center>input[id=tab5]:checked ~.brew li label[for=tab5],
.brew>div.brew_total>div.brew_center>input[id=tab6]:checked ~.brew li label[for=tab6] {background-color: #555;color: #fff;cursor: pointer;font-weight: 600;}

.brew>div.brew_total>div.brew_center>ul.brew {
  display: flex;
  width: inherit;
  margin: auto;
  justify-content: space-around;
  text-align: center;
  box-sizing: border-box;
}

.brew>div.brew_total>div.brew_center>ul.brew.firstBrew {margin-top: 23px;}
.brew>div.brew_total>div.brew_center>ul.brew.secondBrew {margin-top: 25px;}
.brew>div.brew_total>div.brew_center>ul.brew>li label {
  display: inline-block;
  border: 1px solid #666;
  color: #555;
  width: 380px;
  height: 30px;
  padding: 18px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.76s;
}
.brew>div.brew_total>div.brew_center>ul.brew>li label:hover {cursor: pointer;background-color: #555;color: #fff;}
.brew>div.brew_total>div.brew_center>input[name=tabmenu] {display: none;}

.brew>div.brew_total>div.brew_center>div.brews {
  display: flex;
  margin: 45px auto;
  position: absolute; 
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f9f6f0;
  opacity: 0;
  width: inherit;
  height: 800px;
}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex {
  width: 1280px;
  padding-top: 30px;
  display: flex;
  height: 750px;
  align-items: center;
  position: relative;
  flex: 2.5;
}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text {
  flex: 2.5;
  height: inherit;
  width: inherit;
  position: relative;
  padding-top: 70px;
  box-sizing: border-box;
}  
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .pour_icon {
  margin-bottom: 30px;
  width: 80%;
  border-bottom: 1px solid #999;
  padding-bottom: 45px;
  display: flex;
  position: absolute;
  top: 0;
  left: 10%;
  text-align: center;
  margin: auto;
  justify-content: center;
  margin-top: 13px;
}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .pour_icon img {width: 70px;height: 65px;}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .pour_icon>div {text-align: center;margin-right: 120px;}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .pour_icon>div:last-child {margin-right: 0;}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .pour_icon .detail_pour {margin-top: 10px;font-size: 14px;color: #555;font-weight: 400;}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .bottom_pour {
  transform: translateX(9px);
  display: flex;
  position: absolute;
  margin-top: 100px;
  width: inherit;
  height: 450px;
  align-items: center;
  justify-content: center;
}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .bottom_pour>div {flex: 2.5;}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .bottom_pour>div h3 {font-size: 40px;margin-top: 30px;font-family: 'Montserrat', sans-serif;}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .bottom_pour>div h4 {margin-top: 10px;color: #444;font-size: 22px;}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .bottom_pour>div h5 {font-family: 'Montserrat', sans-serif;margin-top: 35px;font-size: 17px;color: #666;}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .bottom_pour>div p {margin-top: 10px;font-family: 'Noto Sans KR', sans-serif;color: #666;font-size: 17px;font-weight: 400;}

.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .bottom_pour>iframe {
  margin-top: 35px;
  flex: 2;
  padding-right: 10px;
  width: 560px;
  height: 315px;
  border: 0;
  z-index: 500;
  transform: translateX(-26px);
}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .startGuide {
  display: inline-block;
  position: absolute;
  left: 42%;
  bottom: 40px;
  width: 200px;
  color: #333;
  border: 1px solid #000;
  padding: 15px 25px; 
  z-index: 10;
}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .startGuide:hover {
  background-color: #555;
  color: #fff;
  cursor: pointer;
}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .startGuide em {font-weight: 400;font-style: normal;}
.brew>div.brew_total>div.brew_center>div.brews>div.title_flex .left_text .startGuide span {margin-left: 10px;}









/* about */
.about {width: 100%;margin-top: 170px;}
.about>div.aboutText {
  border-top: 2px solid whitesmoke;
  padding-top: 75px;
  width: 1350px;
  margin: auto;
  text-align: center;
  align-items: center;
}
.about>div.aboutText>div.aboutTitle_flex {position: relative;width: 1250px;display: flex;padding-left: 60px;height: 200px;}
.about>div.aboutText>div.aboutTitle_flex>h4 {font-size: 40px;font-weight: 400;color: #444;padding-top: 20px;}
.about>div.aboutText>div.aboutTitle_flex>h5 {
  text-align: left;
  position: absolute;
  height: inherit;
  align-items: center;
  margin-top: 20px;
  margin-left: 200px;
  width: 650px;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.about>div.aboutText>div.aboutTitle_flex .flex_icon {display: flex;flex-direction: column; }
.about>div.aboutText>div.aboutTitle_flex .flex_icon .aboutFontIcon {
  margin-top: 58px;
  display: inline-block;
  height: 35px;
  text-align: right;
  font-size: 40px;
  color: #666;
  position: absolute;
  font-family: fontawesome;
  right: 80px;
  bottom: 10px;
}
.about>div.aboutText>div.aboutTitle_flex .flex_icon .aboutFontIcon i {position: absolute;transform: translate(70px,-20px);height: 60px;width: 50px;}
.about>div.aboutText>div.aboutTitle_flex .flex_icon .aboutFontIcon i:hover {opacity: 0.5;cursor: pointer;}
.about>div.aboutText>div.aboutTitle_flex .flex_icon .aboutFontIcon i:nth-of-type(1) {right: 100px;}
.about>div.aboutText>div.aboutTitle_flex .flex_icon .aboutFontIcon i:nth-of-type(2) {right: 0;}
.about>div.aboutText>div.aboutTitle_flex .flex_icon .aboutFontIcon i:nth-of-type(2) span {transform: translate(-38px,2px);}
.about>div.aboutText>div.aboutTitle_flex .flex_icon .aboutFontIcon i span {font-size: 14px;font-weight: 400;position: absolute;bottom: 0;transform: translateX(-20px);}
.about>div.aboutText>div.aboutTitle_flex .flex_icon>h5 {
  text-align: left;
  position: absolute;
  height: inherit;
  align-items: center;
  margin-top: 20px;
  margin-left: 200px;
  width: 650px;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.about>div.aboutText>div.aboutTitle_flex .flex_icon>h4>span.titleBottle {display: inline-block;margin-top: 18px;font-weight: 500;color: #666;}
.about>div.aboutText>div.aboutTitle_flex .flex_icon>h5>span.titleBottlespan {display: inline-block;margin-top: 18px;font-weight: 500;}
.about>div.aboutText>div.aboutFlex {overflow: hidden;border-radius: 50px;margin-top: 30px;height: 500px;}
.about>div.aboutText>div.aboutFlex>div.ABOUT {height: inherit;align-items: center;display: none;overflow: hidden;background-color: #f9f6f0;  }
.about>div.aboutText>div.aboutFlex>div.ABOUT:first-child {display: block;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div {
  background-size: cover;
  position: relative;
  height: 500px;
  width: 700px;
  border-radius: 45px 0 0 45px;
  float: left;
}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div:hover {cursor: pointer;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutIMG:before {
  content: '';
  background: url(../image/pinit.png) center center;
  background-size: cover;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 30px;
  opacity: 0;
  transition: 0.5s;
}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutIMG:hover:before {opacity: 1;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg01 {background: url(../image/history_01.png) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg02 {background: url(../image/history_06.jpg) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg03 {background: url(../image/history_09.png) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg04 {background: url(../image/history_12.jpg) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg05 {background: url(../image/history_15.jpg) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg06 {background: url(../image/history_18.jpg) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg07 {background: url(../image/history_21.png) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg08 {background: url(../image/history_24.png) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg09 {background: url(../image/history_25.png) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg10 {background: url(../image/history_33.png) center center;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.aboutImg11 {background: url(../image/history_28.png) center center;}

.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex {
  padding-top: 25px;
  float: right;
  height: 500px;
  text-align: center;
  position: relative;
  border-radius: 0 45px 45px 0;
  width: 600px;
  color: #fff;
}

.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex h5 {
  height: 50px;
  font-size: 19px;
  font-weight: 700;
  padding-top: 33px;
  color: #00a9e0;
  padding-bottom: 5px;
}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex h6 {
  border-bottom: 1px solid #999;
  color: #555;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  line-height: 21px;
  height: 130px;
  position: relative;
}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex p:after {
  content: 'CLICK \f063';
  font-family: fontawesome;
  position: absolute;
  left: 0;
  top: 110%;
  font-weight: 700;
  color: #666;
}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .detailBox {height: 400px;text-align: left;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick {transform: translate(-50px,-75px);position: absolute;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick .slick-slide {width: 100%;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick .aboutBottomImg {
  display: flex;
  position: relative;
  width: 580px;
  height: 120px;
  margin-left: 50px;
  overflow: hidden;
}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick .aboutBottomImg img {width: 200px;height: 120px;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick .aboutBottomImg .slick-prev.slick-arrow {width: 30px;height: 40px;left: 0;z-index: 1000;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick .aboutBottomImg .slick-prev.slick-arrow:before,
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick .aboutBottomImg .slick-next.slick-arrow:before {
  font-family: 'Material Icons Outlined';
  position: absolute;
  width: inherit;
  height: inherit;
  line-height: 40px;
  color: #fff;
  background-color: rgb(51, 51, 51);
}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick .aboutBottomImg .slick-prev.slick-arrow:before {content: '\e5e0';top: 0;left: 0;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick .aboutBottomImg .slick-next.slick-arrow:before {content: '\e5e1';top: 0;right: 0;}
.about>div.aboutText>div.aboutFlex>div.ABOUT>div.about_textFlex .aboutSlick .aboutBottomImg .slick-next.slick-arrow {position: absolute;right: 0;z-index: 10000;width: 30px;height: 40px;}







/* cafe */
.cafe {width: 100%;padding-top: 90px;text-align: center;margin: 25px auto 0;height: 900px;}
.cafe>div.storeTitle {
  width: 1400px;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255,0.65);
  border-radius: 40px;
  padding: 30px;
}
.cafe>div.storeTitle>div.cafeImgTotal .cafes {
  display: flex;
  width:73%;
  margin: auto;
  justify-content: space-around;
  padding: 20px 30px;
  border-radius: 15px;
}

.cafe>div.storeTitle>div.storeImgTitle {
  width: 1200px;
  height: 200px;
  padding-bottom: 30px;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.cafe>div.storeTitle>div.storeImgTitle .firstTitle h3 {font-size: 40px;display: inline-block;font-weight: 600;color: #333;font-family: 'Montserrat', sans-serif;}
.cafe>div.storeTitle>div.storeImgTitle .firstTitle {padding-top: 100px;position: absolute;left: 500px;height: 250px;flex: 3;}
.cafe>div.storeTitle>div.storeImgTitle .firstTitle p:nth-of-type(1) {
  margin-top: 40px;
  color: #444;
  font-weight: 500;
  margin-left: 45px;
  width: 600px;
}
.cafe>div.storeTitle>div.storeImgTitle .firstTitle p:nth-of-type(2) {
  margin-top: 60px;
  font-size: 25px;
  font-weight: 500;
  color: #555;
  width: 400px;
  height: 55px;
  line-height: 55px;
  margin-left: 148px;
  border: 1px solid #555;
}
.cafe>div.storeTitle>div.storeImgTitle .firstTitle p:nth-of-type(2):hover {background-color: #555;color: #fff;cursor: pointer;}
.cafe>div.storeTitle>div.storeImgTitle .firstTitle span.ani_store {font-family: 'Montserrat', sans-serif;font-size: 48px;font-weight: 500;margin-left: 15px;position: relative;color: #333;  }
.cafe>div.storeTitle>div.storeImgTitle .firstTitle span.ani_store:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 169, 224,0.65);
  width: 100%;
  height: 0;
  bottom: 0;
  z-index: -1;
}

.cafe>div.storeTitle>div.storeImgTitle .cafeBluebottle {
  position: absolute;
  margin-left: 50px;
  flex: 3;
  margin-top: 30px;
  background: url(../image/ani_prev.png) center center;
  background-size: cover;
  width: 400px;
  height: 350px;
  animation: bluebottleAni 1.5s infinite alternate;
}
@keyframes bluebottleAni {
  100% {
    margin-top: 30px;
    background: url(../image/ani.jpg) center center;
    background-size: cover;
    position: absolute;
    width: 400px;
    height: 350px;
  }
}
.cafe>div.storeTitle>div.cafeImgTotal {width: inherit;height: 600px;margin: auto;margin-top: 170px;position: relative;}
.cafe>div.storeTitle>div.cafeImgTotal .cafes>label {
  margin-right: 25px;
  font-size: 15px;
  color: #777;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.cafe>div.storeTitle>div.cafeImgTotal .cafes>label:hover {color: #333;font-weight: 500;font-size: 17px;border-bottom: 1px solid #333;}
.cafe>div.storeTitle>div.cafeImgTotal .cafes>label:nth-child(1) {margin-left: 23px;}

.cafe>div.storeTitle>div.cafeImgTotal>input[name=cafeul] {display: none;}
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_01]:checked ~.cafes label[for=tab_01],
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_02]:checked ~.cafes label[for=tab_02],
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_03]:checked ~.cafes label[for=tab_03],
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_04]:checked ~.cafes label[for=tab_04],
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_05]:checked ~.cafes label[for=tab_05],
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_06]:checked ~.cafes label[for=tab_06],
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_07]:checked ~.cafes label[for=tab_07],
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_08]:checked ~.cafes label[for=tab_08] {color: #333;font-weight: 500;font-size: 19px;border-bottom: 1px solid #333;}

.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_01]:checked ~.store01,
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_02]:checked ~.store02,
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_03]:checked ~.store03,
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_04]:checked ~.store04,
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_05]:checked ~.store05,
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_06]:checked ~.store06,
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_07]:checked ~.store07,
.cafe>div.storeTitle>div.cafeImgTotal>input[id=tab_08]:checked ~.store08 {opacity: 1;transition: 0.5s;}

.cafe>div.storeTitle>div.cafeImgTotal .storeText .storeImgFLex {flex: 3;height: 420px;box-sizing: border-box;}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .storeImgFLex img {width: 640px;height: 420px;top: 0;}
.cafe>div.storeTitle>div.cafeImgTotal .storeText {
  text-align: center;
  height: 500px;
  display: flex;
  position: absolute;
  width: inherit;
  padding: 0 20px;
  margin-top: 40px;
  display: flex;
  padding: 10px;
  opacity: 0;
}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore {
  display: flex;
  flex: 3;
  flex-direction: column;
  height: 420px;
  border: 1px solid #ddd;
  background-color: rgb(255, 255, 260);
  border-right: none;
  padding: 25px;
  box-sizing: border-box;
}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .store_location {margin-bottom: 10px;position: relative;}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .store_location>h3 {
  border-bottom: 1px solid rgba(153, 153, 153,0.2);
  padding-bottom: 20px;
  display: block;
  position: relative;
  flex: 3;
  font-weight: 500;
  font-size: 38px;
  color: #555;
}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .cafe_bottomFlex {display: flex;height: inherit;box-sizing: border-box;padding-bottom: 10px;}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .cafe_bottomFlex .hoursThisweek {margin-top: 38px;flex: 2;border-right: 2px solid rgba(153, 153, 153,0.1);transform: translateY(-7px);}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .cafe_bottomFlex .hoursThisweek .storeDetail {padding-top: 20px;text-align: center;} 
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .cafe_bottomFlex .hoursThisweek .storeDetail>span {
  display: inline-block;
  background-color: #777;
  height: 28px;
  line-height: 28px;
  margin-top: 3px;
  width: 100px;
  margin-right: 13px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .cafe_bottomFlex .hoursThisweek .storeDetail>em {font-style: normal;font-size: 15px;font-weight: 500;color: #444;}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .cafe_bottomFlex .bottomCafe {padding-top: 35px;flex: 2;display: flex;flex-direction: column;}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .cafe_bottomFlex .bottomCafe .cafeImg {margin-top: 50px;text-align: center;margin: auto;display: flex;flex-direction: column;}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .cafe_bottomFlex .bottomCafe .cafeImg img {margin-top: 10px;width: 280px;height: 160px;margin: 3px;border-radius: 30px;}
.cafe>div.storeTitle>div.cafeImgTotal .storeText .detailStore .cafe_bottomFlex .bottomCafe>p {font-weight: 500;color: #666;font-size: 17px;}



















/* 작은 PC */
@media (min-width : 1024px) and (max-width : 1440px) {


}





/* tablet */
@media (min-width : 768px) and (max-width : 1023.99px) {


}








/* mobile */
@media (max-width : 767.99px) {



}